# ~/.gitconfig
#
# Author: Alexander Markovich

[user]
    email = oma654@yandex.ru
    name = Alexander Markovich

[color]
    ui = true

[commit]
    verbose = true

[core]
    editor = vim
    autocrlf = input
    pager = less -RF

